<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}" />
      <title>
          {% if wp_title %}
              {{ wp_title }} - {{ site.name }}
          {% else %}
              {{ site.name }} - {{ site.description }}
          {% endif %}
      </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Cardo:400,700" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{site.theme.link}}/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.theme.link}}/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.theme.link}}/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.theme.link}}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.theme.link}}/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.link}}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.theme.link}}/manifest.json">
    <link rel="mask-icon" href="{{site.theme.link}}/safari-pinned-tab.svg" color="#4200ee">
    <meta name="apple-mobile-web-app-title" content="Restlessbit">
    <meta name="application-name" content="Restlessbit">
    <meta name="msapplication-TileColor" content="#2c2a2a">
    <meta name="msapplication-TileImage" content="{{site.theme.link}}/mstile-144x144.png">
    <meta name="theme-color" content="#2c2a2a">

    {{function('wp_head')}}
</head>
