{% extends 'base.twig' %}

{% block content %}
<header class="hero section section--phat">
 <div class="container">
   <h1>mario pabon</h1>
   <p>
     Front end web developer living in the Hudson Valley, working to make the web a better place for devices and people of all shapes and sizes.
   </p>
   <ul class="list-inline">
      <li>
        <a href="{{ links.github }}" target="_blank">GitHub</a>
      </li>
      <span class="list-inline__spacer"></span>
      <li>
        <a href="{{ links.twitter }}" target="_blank">Twitter</a>
      </li>
      <span class="list-inline__spacer"></span>
      <li>
        <a href="mailto:{{ contact.email }}">Email me</a>
      </li>
   </ul>
 </div>
</header>
<section class="section">
 <div class="container">
   <h2>Featured Work</h2>
   <div class="row">
     {% for project in projects %}
       <div class="col-md-6">
         <a class="tile-card" href="{{ project.get_field('link') }}" target="_blank">
           <span class="h3 tile-card__title">{{ project.name }}</span>
           <span class="tile-card__subtitle">
             {{ project.post_excerpt }}
           </span>
         </a>
       </div>
     {% endfor %}
   </div>
   <div class="wrapper wrapper--thin">
     <a href="{{ links.github }}" target="_blank">View more projects on Github</a>
   </div>
 </div>
</section>
<section class="section">
 <div class="container">
   <h2>Writing</h2>
   {% include 'components/loop.twig' with { posts: latest_posts } %}
   <div class="wrapper wrapper--thin">
     <a href="/blog/">View more articles</a>
   </div>
 </div>
</section>
<section class="section">
 <div class="container">
   <h2>About Me</h2>
   <p>
     I'm a front end web developer, currently working at
     <a href="http://digitalempire.io" target="_blank">Digital Empire</a>. I'm a strong advocate of accessibility and writing maintainable code. When not writing code, I may be found at a coffeehouse near you forcing myself to write more often, or composing carefully <a href="{{ links.twitter }}" target="_blank">crafted tweets</a> for your Twitter feed.
   </p>
 </div>
</section>
<section class="section">
 <div class="container">
   <h2>How to contact me</h2>
   <p>
     If you would like to work together, have questions about code, or just want to chat, please feel free to shout at me on <a href="{{ links.twitter }}" target="_blank">Twitter</a>, or shoot me an email at <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>.
   </p>
   <h3>Other ways to connect with me</h3>
   <ul>
     <li>
       <a href="{{ links.github }}" target="_blank">Github</a>
     </li>
     <li>
       <a href="{{ links.stackoverflow }}" target="_blank">Stack Overflow</a>
     </li>
     <li>
       <a href="{{ links.medium }}" target="_blank">Medium</a>
     </li>
     <li>
       <a href="{{ links.twitter }}" target="_blank">Twitter</a>
     </li>
   </ul>
   <div class="wrapper wrapper--thin">
     <a class="btn btn--primary" href="mailto:{{ contact.email }}">Send me an email</a>
   </div>
 </div>
</section>
{% endblock %}
