{% extends "base.twig" %}

{% block content %}
	<article class="section">
    <div class="container">
      <div class="longform">
        <header class="content-header">
					<h1 class="content-header__title">
						{{ post.title }}
					</h1>
          <p class="content-header__subtitle">
            {{ post.post_date|date}}
          </p>
        </header>

        <section>
    			{{post.content}}
    		</section>
      </div>
      <footer class="longform__footer">
        <div class="pager">
          <div class="pager__nav row">
						<div class="col-md-6 text-left">
							{% if post.next  %}
								<a class="pager__nav-btn"
									href="{{ post.next.link }}">
									<span class="btn__icon">←</span> {{ post.next.title }}
								</a>
							{% endif %}
						</div>

						<div class="col-md-6 text-right">
							{% if post.prev  %}
								<a class="pager__nav-btn"
									href="{{ post.prev.link }}">
									{{ post.prev.title }} <span class="btn__icon">→</span>
								</a>
							{% endif %}
						</div>
          </div>
          <div class="page__status text-center">
						<a href="/blog/">Back to blog index</a>
          </div>
        </div>
      </footer>
    </div>
	</article>
{% endblock %}
