<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{navigation}}

    <main>
      <section class="hero">
        <div class="container wrapper">
          <h1>restlessbit</h1>
          <p>musings of a front end developer.</p>
        </div>
      </section>
    </main>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
