<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Cutive+Mono" rel="stylesheet" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{navigation}}

    <main>
      <section class="container wrapper">
        <div class="longform">
          <h1>Unit testing Express APIs</h1>
          <p>Cumque alias quisque conubia! Ratione diamlorem at, facilisis massa risus aliquip cursus iste, ultricies, malesuada! Facilis metus molestiae, rem in? Sagittis, earum totam sodales, platea laborum temporibus. Sint! Dictum explicabo metus purus, a quisquam illum illo, distinctio facere netus! Iure nostra expedita, metus dolor occaecati, rhoncus minima fermentum vestibulum, euismod.</p>

          <p>Blandit praesentium vitae doloribus? Ea voluptate. Repudiandae do minus nascetur nostrud laborum dictumst egestas, semper tempore cubilia. Aliquid, exercitationem praesent sit cupiditate senectus viverra, montes! Accusantium cupidatat fringilla hic erat itaque? Curae. Do quaerat litora? Nibh, inceptos ut? Nostra deserunt, taciti magna lorem, et aperiam ipsa curabitur egestas. Minus pariatur.</p>

          <h3>Paragraph subsection</h3>

          <p>Blandit praesentium vitae doloribus? Ea voluptate. Repudiandae do minus nascetur nostrud laborum dictumst egestas, semper tempore cubilia. Aliquid, exercitationem praesent sit cupiditate senectus viverra, montes! Accusantium cupidatat fringilla hic erat itaque? Curae. Do quaerat litora? Nibh, inceptos ut? Nostra deserunt, taciti magna lorem, et aperiam ipsa curabitur egestas. Minus pariatur.</p>

<pre><code class="language-css">p {
  color: red
}</code></pre>

          <p>Blandit praesentium vitae doloribus? Ea voluptate. Repudiandae do minus nascetur nostrud laborum dictumst egestas, semper tempore cubilia. Aliquid, exercitationem praesent sit cupiditate senectus viverra, montes! Accusantium cupidatat fringilla hic erat itaque? Curae. Do quaerat litora? Nibh, inceptos ut? Nostra deserunt, taciti magna lorem, et aperiam ipsa curabitur egestas. Minus pariatur.</p>

          <a class="btn btn--primary">Take action</a>
        </div>
      </section>
    </main>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
